// Colors
$colors: (
  primary: #3141eb,
  trans-white: rgba(255, 255, 255, 0.95),
  white: #fff,
  light-grey: #f1f2f6,
  grey: #dfe4ea,
  dark-grey: #747d8c,
  black: #2f3542,
  error: #ff3f34
);

// Typography
$font: (
  family: #{'Avenir LT Std',
  Helvetica,
  Arial,
  sans-serif},
  size-xl: 5rem,
  size-l: 4rem,
  size-ml: 3rem,
  size-m: 2rem,
  size-s: 1.7rem,
  size-xs: 1.4rem,
  weight-b: 900,
  weight-m: 600,
  weight-l: 400
);
