.text-area {
  background: map-get($colors, white);
  border: solid 1px map-get($colors, light-grey);
  color: map-get($colors, black);
  font-family: map-get($font, family);
  font-size: map-get($font, size-s);
  height: 30rem;
  padding: 2rem 1.5rem;
  resize: none;
  width: 100%;

  &:focus {
    background: map-get($colors, white);
    border: solid 1px map-get($colors, primary);
    outline: none;
  }
}
