.landing {
  align-items: center;
  display: grid;
  grid-column: 1 / span 12;
  grid-column-gap: 1.6rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  margin-top: -6.9rem;

  &__content {
    display: grid;
    grid-column: 1 / span 12;
    grid-column-gap: 1.6rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    margin-top: -7.4rem;
  }

  &__rectangle {
    background: map-get($colors, primary);
    grid-column: 2 / span 5;
    grid-row: 1;
    height: 15.6rem;
    margin-left: calc(10% - 0.75rem);
    width: calc(90% + 0.8rem + 0.75rem);
    z-index: -1;
  }

  &__line-container {
    display: flex;
    grid-column: 2 / span 1;
    grid-row: 1;
    margin-top: 5.75rem;
    z-index: 2000;
  }

  &__line {
    height: 5px;
    width: 50%;

    &--1 {
      background: map-get($colors, primary);
    }

    &--2 {
      background: map-get($colors, white);
    }
  }

  &__heading {
    font-weight: map-get($font, weight-b);
  }

  &__heading,
  &__subheading {
    grid-column: 3 / span 4;
    grid-row: 1;
  }

  &__title {
    display: flex;
    flex-direction: column;
    color: map-get($colors, white);
    padding-top: 3.4rem;

    &--new-line {
      padding-top: 0;
    }
  }

  &__subtitle {
    color: map-get($colors, black);
    margin-top: 17.3rem;
  }
}
