.not-found {
  display: grid;
  grid-column: 1 / span 12;
  grid-column-gap: 1.6rem;
  grid-row: 1;
  grid-row-gap: 6rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(2, 1fr);

  &__heading {
    color: map-get($colors, white);
    grid-row: 1;
  }

  &__message {
    align-self: flex-end;
    color: map-get($colors, black);
    font-family: map-get($font, family);
    font-size: map-get($font, size-l);
    font-weight: map-get($font, weight-m);
    grid-column: 1 / span 12;
    grid-row: 1;
    justify-self: center;
    text-transform: uppercase;
  }

  &__button {
    align-items: center;
    align-self: flex-start;
    display: flex;
    grid-column: 1 / span 12;
    grid-row: 2;
    height: fit-content;
    justify-self: center;
  }

  &__arrow-icon {
    height: 1.7rem;
    margin-left: -1rem;
    margin-right: 2rem;
  }
}
