.projects {
  display: grid;
  grid-column: 1 / span 12;
  grid-column-gap: 1.6rem;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 1fr;
  padding-bottom: 10rem;

  &__gallery {
    align-self: center;
    display: grid;
    grid-auto-flow: column;
    grid-column: 1 / span 12;
    grid-column-gap: 10rem;
    grid-row: 1;
    grid-row-gap: 10rem;
    grid-template-columns: repeat(2, 35rem);
    grid-template-rows: repeat(2, 35rem);
    justify-content: center;
    margin-top: 18rem;
  }
}
